html {
  scroll-behavior: smooth;
  background-color: #ececec;
 }

li{
    list-style-type: none;
    padding: 30px;
    font-size: 20px;
  
  }
  li a{
      color: white;
  }
  a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:16px;
  }
  #nav{
    width: 100vw;
    background-color: #2D3E45;
  }
  
  body{
    margin: 0;
    background-color: #EBF0F2;
  }
  #searchNav{
	height: 50px;
	background-color: #182930;
  }
  
  .left{
	float:left;
}
  #right{
	float:right;
	display:flex;
	margin-top: 1.3%;
}
#logo:first-letter {
    font-size: 45px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#secondWord{
  font-size: 45px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
#below{
	color:#999999;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:16px;
}
a:hover{
  color:#97aab0;
  cursor:pointer;
}
#overIMG{
	background-color: #0A0A0A;
	opacity: 0.9;
	color: white;
	width:400px;
	border-color: black;
	border-width: 5px;
	border:solid;
	border-color: black;
	z-index: 121312;
	margin-top: -28%;
	margin-left: 62%;
	position: absolute;
	height: 280px;
}
#creading{
  margin-left: 40%; 
  margin-right: 10%;
  position: absolute;
  top: 80%;
  background-color: #1c2c32;
  border: 1px solid #465c63; 
  border-radius: 10px;
  height: 40px;
  text-decoration: none; 
  width: 230px; 
  color: white;
  padding: 5px;
  font-size:17px;
  text-align: center;
  cursor: pointer;

}

.rotate-45-right {
	-webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.container{
  width:100%;
  height:100%;
  overflow:hidden;
}

.firstcontainer{
  position: absolute;
  display: grid;
  grid-auto-flow: row;

}

.secondcontainer{
  display: grid;
  padding-left:25%;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
#takealookaround{
width: 230px; 
}

#firstsection h4{
  font-size:19px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#465b63;
  font-style: italic;
  margin-bottom: 5%;
}
#firstsection p{
  color:#a2a4a4;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:16px;
}
#upcomingevents h5{
  color:#465c63;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

.thirdcontainer{
  display: grid;
  padding-left: 25%;
  margin-right: -100px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

#thinhr{
  border-top: 1px solid black;
  width: 210px;
  margin-bottom: 10%;
  margin-left: 0%;
}
#boldhr{
  border-top: 1.5px solid black;
  width: 210px;
  margin-bottom: 10%;
  margin-left: 0%;
}
#quicklinks a{
  color:#465b63;
}
#quicklinks a:hover{
  color:#7694a0;
}
#sportingactivities a{
  color:#465c63;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size:16px;
}
#sportingactivities a:hover{
  color:#7694a0;
  cursor: pointer;
}



footer{
  position: absolute; 
  bottom: 0;
  left: 0%;
  right: 0%; 
  top:100%;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #203138;
  border: solid 1px #c3c3c3;
}
#flip{
  color:#97aab0;
  text-align:left;
  font-size:16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

#panel {
  display: none;
}
#panel #block{
  display: inline-block;
  padding-left:40px;
  padding-bottom:3%;
}
#block h4{
  color:#ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:16px;
  font-style:normal;
  text-align:left;
}
#block a{
  color:#a1a4a4;
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  float:left;
  cursor: pointer;
}

#footerdown{
  margin-top: -1px;
  background-color:#111c20; 
  height:50px; 
  padding-top: 25px;
  
}
#footerdown p
{
  display: inline;
  padding-left: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color:#a1a4a4;
}
#footerdown a
{
  float:right;
  padding-right: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color:#a1a4a4;
}
#footerdown a:hover{
	color:#97aab0;
}
#block a:hover{
  color:#c1d0d4;
}

#panel #block2{
  display: inline-block;
}
#block2 h4{
  color:#ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:16px;
  font-style:normal;
  text-align:left;
}
#block2 a{
  color:#a1a4a4;
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  cursor: pointer;
}
#block2 a:hover{
  color:#c1d0d4;
}

#twitterfeed{
  border-radius: 20px;
  display: inline;
  float:left;
  margin-bottom: 50px;
  margin-top:15px;
  padding-bottom:20px;
}


#twitterfeed #tweet{
  position: relative;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#a1a4a4;
  font-size:22px;
  left:140px;
  top:10px;
  padding-right:10px;
}
#twitterfeed #followus{
  position:absolute;
  padding-top:25px;
  padding-left:1px;

}
#twitterfeed #fus{
  position: relative;
  top:-80px;
  padding-left:60px;
  color:#2fcfff;
  font-size:17px;
  text-transform: uppercase;
}

#locationbutton{
  border-radius: 5px;
  border:none;
  height: 25px;
  width: 130px;
  text-align: center;
  color:white;
  background-color:#3d5763;
  text-transform: uppercase;
}
#locationbutton:hover{
  cursor: pointer;
  background-color: #567b8b;
  color:white;
  font-weight: bold;
}